@model dynamic

@{
    ViewBag.Title = "Unobtrusive MVC Techniques";
}

<h1>Unobtrusive MVC Techniques</h1>

<p>@Html.ActionLink("Unobtrusive Validation Example", "ValidationExample")</p>

<ol>
    <li>@Html.ActionLink("Custom validation code in controller", "CustomCodeInController", "CustomValidation")</li>
</ol>
